Repository anandgupta193/react-enterprise-starter-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, source, github-workflows, webpack

Added Clean webpack plugin and designed home page
  package.json
  src/components/home/Home.scss
  webpack/webpack.common.config.js
Labels: repo, source, webpack

Added Bundle and Chunk Hash
  package-lock.json
  package.json
  public/index.html
  webpack/webpack.common.config.js
Labels: repo, webpack

Separate folder for css and js in dist folder
  README.md
  package.json
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/routes/Routes.jsx
  webpack/webpack.common.config.js
Labels: repo, source, webpack

Added stylelint
  .stylelintrc
  package-lock.json
  package.json
  src/components/home/Home.scss
  webpack/client/webpack.dev.config.js
Labels: repo, source, webpack

Added .stylelintignore
  .stylelintignore
  .stylelintrc
  package.json
Labels: repo

Importing dynamic imports from separate files
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/constants/HomeConstants.js
  src/routes/Routes.jsx
  src/routes/Routes.lazy.jsx
  webpack/webpack.common.config.js
Labels: source, webpack

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - any: ['./*']

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - any: ['src/**/*.test.jsx']

# Add 'source' label to any change to src files within the source dir EXCEPT for the docs sub-folder
source:
  - any: ['src/**/*', '!src/docs/*']

# Add 'github-workflows' label to any change to workflows files within the .github dir
github-workflows:
  - any: ['.github/**/*']

# Add 'webpack' label to any change to workflows files within the webpack dir
webpack:
  - any: ['webpack/**/*']
