Repository anandgupta193/react-enterprise-starter-kit, pull requests merged in 2020-08, with the labels that each got.

#63 Added styles to welcome page
  src/components/home/Home.jsx
  src/components/home/Home.scss
Labels: source

#75 Update README.md
  README.md
Labels: readme

#77 Added PWA for Production mode
  src/components/not-found/NotFound.jsx
  src/components/not-found/NotFound.scss
  src/index.jsx
  webpack/client/webpack.prod.config.js
  webpack/webpack.common.config.js
Labels: source, webpack

#78 Added Server Side Rendering
  .eslintignore
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/index.jsx
  src/reducers/CounterReducer.js
  src/redux/store.js
  src/server/server.jsx
  webpack/client/webpack.common.config.js
  webpack/client/webpack.dev.config.js
  webpack/client/webpack.prod.config.js
  webpack/server/webpack.common.config.js
  webpack/server/webpack.dev.config.js
  webpack/server/webpack.prod.config.js
Labels: source, webpack

#80 Added hydrate and updated route
  src/index.jsx
  src/routes/Routes.jsx
Labels: source
