Repository anandgupta193/react-enterprise-starter-kit, pull requests merged in 2020-07, with the labels that each got.

#20 Cleaning up dependencies and Removing dist/ on each build
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/node.js.yml
  README.md
  package-lock.json
  package.json
  postcss.config.js
  src/components/home/Home.scss
  webpack.config.js
Labels: source

#22 Added Mac-OS for Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: github-workflows

#24 Updated node CI workflow to run with node 12.x
  .github/workflows/node.js.yml
Labels: github-workflows

#26 Added Github funding yml
  .github/FUNDING.yml
  .github/workflows/node.js.yml
Labels: github-workflows

#27 Update FUNDING.yml with username
  .github/FUNDING.yml
Labels: github-workflows

#29 Added flare to readme
  README.md
Labels: readme

#30 Added separate webpack prod and dev files
  .eslintrc
  .github/labeler.yml
  package-lock.json
  package.json
  webpack/client/webpack.dev.config.js
  webpack/client/webpack.prod.config.js
  webpack/server/webpack.dev.config.js
  webpack/server/webpack.prod.config.js
  webpack/webpack.common.config.js
Labels: github-workflows, webpack

#32 Added Bundle and Chunk Hash
  package-lock.json
  package.json
  public/index.html
  webpack/webpack.common.config.js
Labels: webpack

#34 Added global variables via webpack define plugin
  .eslintrc
  src/index.jsx
  webpack/client/webpack.dev.config.js
  webpack/client/webpack.prod.config.js
Labels: source, webpack

#33 Added file-loader, Clean webpack plugin and Welcome Screen
  .github/labeler.yml
  .storybook/main.js
  .stylelintignore
  .stylelintrc
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  src/assets/images/React.webp
  src/components/404/NotFound.jsx
  src/components/404/NotFound.scss
  src/components/App.jsx
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/components/loader/Loader.jsx
  src/components/loader/Loader.scss
  src/components/loader/Loader.story.jsx
  src/constants/HomeConstants.js
  src/routes/Routes.jsx
  src/routes/Routes.lazy.jsx
  webpack/client/webpack.dev.config.js
  webpack/webpack.common.config.js
Labels: github-workflows, source, webpack

#38 Importing Url from constants
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/constants/HomeConstants.js
Labels: source

#42 Added Light Color Heading
  .travis.yml
  src/components/home/Home.scss
Labels: source

#45 fixed hmr for css
  src/components/home/Home.scss
  webpack/client/webpack.dev.config.js
  webpack/webpack.common.config.js
Labels: source, webpack

#46 Setup test cases using @react/testing-library
  jest.config.js
  package-lock.json
  package.json
  src/components/home/Home.jsx
  src/components/home/Home.test.jsx
  src/constants/HomeConstants.js
  src/tests/__mocks__/FileMock.js
  src/tests/__mocks__/SetupTests.js
Labels: source, test

#50 Added prettier
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  src/components/App.jsx
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/components/home/Home.story.jsx
  src/components/home/Home.test.jsx
  src/components/loader/Loader.jsx
  src/components/loader/Loader.scss
  src/constants/HomeConstants.js
  src/pureComponents/Button/Button.story.jsx
  src/reducers/CounterReducer.js
  src/sagas/DecrCountSaga.js
  src/sagas/IncrCountSaga.js
  src/sagas/index.js
  src/utils/RestClient.js
Labels: source, test

#49 Added ubuntu and windows OS on CI
  src/constants/HomeConstants.js
  src/utils/RestClient.js
Labels: github-workflows, source

#51 Added copy-webpack-plugin for copying robots.txt and other assets
  .eslintrc
  package-lock.json
  package.json
  public/robots.txt
  webpack/client/webpack.prod.config.js
  webpack/webpack.common.config.js
Labels: webpack

#52 Added Stylelint
  package.json
  src/components/home/Home.scss
Labels: source

#55 Added styles in welcome page
  .eslintrc
  .prettierrc
  package-lock.json
  package.json
  src/assets/images/wavesOpacity.svg
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/constants/HomeConstants.js
  src/reducers/CounterReducer.js
  src/sagas/DecrCountSaga.js
  src/sagas/IncrCountSaga.js
Labels: source

#56 Adjusted React Logo in Home Screen
  src/components/home/Home.jsx
  src/components/home/Home.scss
  webpack/client/webpack.prod.config.js
Labels: source, webpack

#58 Added fonts in index.html
  public/index.html
  src/components/home/Home.scss
Labels: source

#59 Added App routes without lazy load
  public/index.html
  src/routes/Routes.jsx
  src/routes/Routes.lazy.jsx
Labels: source

#60 Added Styles to Welcome Page
  src/components/home/Home.jsx
  src/components/home/Home.scss
  src/components/loader/Loader.scss
Labels: source

#61 Added PWA
  package-lock.json
  package.json
  public/index.html
  public/react.png
  src/index.jsx
  webpack/webpack.common.config.js
Labels: source, webpack
